/*Padrao da sintax
Seletor {propriedade valor 
propriedade valor2
*/
/* Tag Seletor*/
h3 {
    color:red;
    font-size: 16;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0,5px;
    text-transform: capitalize;
    text-decoration:underline;
}   

/* Classe Seletor*/
.destaque {
    background-color: aqua;
    padding: 8px;
    margin: 8px;
    border: 5px dotted #ce74b7;
}
/* Id Seletor*/
#titulo_secundario{
    font-style: italic;
    color: darkred;
}
p b {
    font-family:Verdana;
}
ul li{
    text-align: center;
}
.botao_default{
    background-color: black;
    color: aliceblue;
    padding: 8px 16px 8px 16px;
    border: 2px solid #8cc8bb;  
    border-radius: 8px ;
}
.botao_default:hover{
    background-color: rgb(9, 77, 202);
    color: aliceblue;
    padding: 8px 16px 8px 16px;
    border: 2px solid #a5a5a5;  
    border-radius: 8px ;
    cursor: pointer;
    transition: 0.8s;
}   