body{
    background-color: black;
}
h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.imagem-centralizada {
    display: block;      /* Torna a imagem um bloco */
    margin: 0 auto;      /* Aplica margens automáticas para centralizar */
    width: 40%;          /* Defina uma largura para a imagem */
  }