body{
    background-color: rgb(37, 37, 37);
}
h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    color: rgb(117, 39, 75);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    color: rgb(117, 39, 75);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex; /* Ativa o Flexbox no container */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
