:root{
    --primary: #8ABEB9;
    --secondary: #305669;
    --text-color: #f5f5f5;
    --text-secondary: #87E5CD;
    --text-tertiary: #C1785A;
}
*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#event-subscription {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(19, 12, 44, 0.8)),url("../img/gtrlight.jpg");
    background-position:  center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}
h2{
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#disclamer h2{
    color: var(--primary);
}
#disclamer .about-you{
    font-size: 1.2em;
    max-width: 350;
    font-weight: bold;
}
#subscription-form{
    padding: 2em;

}
#subscription-form p{
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;
}

.form-group label{
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea {
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn {
    background: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1em;
}
.btn:hover{
    opacity: 1;
}