@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=TASA+Explorer:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

:root
{
   --fonte-principal :("Lato", sans-serif);
   --fonte-geral : ("STIX Two Text", serif);

    --primary-color : #2b1e4b;
    --secondary : #851a17;
    --text-color : #f9dec9;
    --text-secundary : #3e0b5c;
    --text-tertiary: #a2d2ff;

}

*
{
    font-family: var(--fonte-geral);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1,h2,h3
{
    font-family: var(--fonte-principal);
}

h2 
{
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#event-subscription
{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2
{
    color: var(--text-tertiary);
    text-decoration: underline;
    
}

#disclaimer .about-you
{
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;

}

#subscription-form
{
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 3px 30px 1px white;

}

#subscription-form p
{
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 1em;
}

.form-group
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;
    margin-top: 20px;
}

.form-group label 
{
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea
{
    padding: 6px 18px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn
{
    background: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    cursor: pointer; 
    margin-top: 1em;
    border: none;
}

.btn:hover
{
    opacity: 0.8;
}

#key-technologys h2
{
    background: var(--secondary);
    color: var(--text-tertiary);
    padding: 2em;
    text-align: center;
    font-weight: bold;
}

.technologys
{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 0 auto;
}

.technology 
{
    font-size: 0.5em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15%;
    color: var(--primary-color);
}

#technology-1
{
    background-image: url(../Img/Logos/github.png);

}

#technology-2
{
    background-image: url(../Img/Logos/figma.png)

}

#technology-3
{
    background-image: url(../Img/Logos/html.webp);
}

#technology-4
{
    background-image: url(../Img/Logos/css.webp);

}

#technology-5
{
    background-image: url(../Img/Logos/js.png);

}

.technology .technology-img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 1em;

}

#key-technologys
{
    background-color: var(--text-color);
}

/* Sobre */

#about {
    height: 400px;
    background: url(../Img/background2.avif);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
    border-radius: 2em;
    border: 5px solid var(--text-secundary);
}

#about-id, #about-description {
    max-width: 40%;
}

#about-id {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#about-id i {
    color: var(--primary);
    font-size: 6em;
    margin-right: 0.5em;
}

#about-description h3 {
    color: var(--primary);
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-description p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}