@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=TASA+Explorer:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

:root
{
   --fonte-principal :("Lato", sans-serif);
   --fonte-geral : ("STIX Two Text", serif);

   --primary-color : #0e0f4d;
   --secondary : #460707;
   --text-color : #f5f5f5;
   --text-secundary : #C1785A;
   --text-tertiary: #C1726B;
}

*
{
    font-family: var(--fonte-geral);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1,h2,h3
{
    font-family: var(--fonte-principal);
}

h2 
{
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#event-subscription
{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2
{
    color: var(--primary-color);
}

#disclaimer .about-you
{
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;

}

#subscription-form
{
    background-color: var(--secondary);
    padding: 1em;

}

#subscription-form p
{
    font-size: 1.5em;
    color: var(--text-secundary);
    margin-bottom: 1em;
}

.form-group
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;
    margin-top: 20px;
}

.form-group label 
{
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea
{
    padding: 6px 18px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn
{
    background: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    opacity: 0.7;
    cursor: pointer; 
    margin-top: 1em;
}

.btn:hover
{
    opacity: 1;
}
