@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=TASA+Explorer:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

:root
{
   --fonte-principal :("Lato", sans-serif);
   --fonte-geral : ("STIX Two Text", serif);

    --primary-color : #2b1e4b;
    --secondary : #082016;
    --text-color : #f9dec9;
    --text-secundary : #3e0b5c;
    --text-tertiary: #a2d2ff;

}

*
{
    font-family: var(--fonte-geral);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

h1,h2,h3
{
    font-family: var(--fonte-principal);
}

h2 
{
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

#event-subscription
{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2
{
    color: var(--text-tertiary);
    text-decoration: underline;
    
}

#disclaimer .about-you
{
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;

}

#subscription-form
{
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 1px rgb(128, 126, 22);
    border: 1px solid black;

}

#subscription-form p
{
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 1em;
    font-weight: bold;
}

.form-group
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;
    margin-top: 20px;
}

.form-group label 
{
    color: var(--text-tertiary);
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea
{
    padding: 6px 18px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn
{
    background: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    cursor: pointer; 
    margin-top: 1em;
    border: none;
    
}

.btn:hover
{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
}

#key-technologys h2
{
    background: var(--secondary);
    color: var(--text-tertiary);
    padding: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}


.technologys
{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 0 auto;
}

.technology 
{
    font-size: 0.5em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15%;
    color: white;
    background: #52509b;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid black;
}

#technology-1
{
    background-image: url(../Img/Logos/github.png);

}

#technology-2
{
    background-image: url(../Img/Logos/figma.png)

}

#technology-3
{
    background-image: url(../Img/Logos/html.webp);
}

#technology-4
{
    background-image: url(../Img/Logos/css.webp);

}

#technology-5
{
    background-image: url(../Img/Logos/js.png);

}

.technology .technology-img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 1em;

}

#key-technologys
{
    background-color: var(--text-color);
}


/* About */
#about {
    height: 400px;
    background: url(../Img/background2.avif);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
    border-radius: 2em;
    border: 5px solid rgb(15, 14, 14);
    opacity: 0.9;
    background-blend-mode: overlay;
}

#about-id, #about-description {
    max-width: 40%;
}

#about-id i {
    color: #0ff;
    font-size: 6em;
    margin-right: 0.5em;
}

#about-description h3 {
    color: #ff0080;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-description p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}


/* Projects */

#projects
{
    width: 80%;
    margin: 0 auto;
}

.project
{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
    background-color: #E0E722;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #4D4DFF;
}

.project img 
{
    width: auto;
    max-width: 50%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #FFAD00;
}

.project h3 
{
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    color: var(--primary-color);
}

.project-description
{
    width: 100%;
    padding-left: 2em;
}

.project-description ul 
{
    list-style-position: inside;
}

.project-description ul li 
{
    margin-bottom: 1em;
}

.project-description ul li:last-child
{
    font-weight: bold;
}




#footer
{
    background-color: var(--secondary);
    text-align: center;
    color: var(--text-tertiary);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.contact-link:hover {
    transform: scale(1.1);
}

.contact-icon {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    display: flex;
    margin: 30px;
}

#contato
{
    display: flex;
    align-items: center;
    flex-direction: column;
}