body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2d3e50;
    font-size: 3rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2d3e50;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 10px 0;
}

footer {
    background-color: #2d3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ddd;
    text-decoration: underline;
}

footer p 
{
    text-align: center;
}

footer a:hover {
    color: #fff;
    font-weight: bold;
}